@font-face {
  font-family: Cera Pro;
  src: url(https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Bold.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Cera Pro;
  src: url(https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Medium.woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Cera Pro;
  src: url(https://assets.lego.com/fonts/v3/cera-pro/CeraPro-Regular.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.carousel-container,
.most-popular-section {
  font-family: Cera Pro;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.most-popular-section {
  display: flex;
  padding: 0 65px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
}

.carousel {
  flex-grow: 1;
  overflow-x: scroll;
  white-space: nowrap;
  padding-bottom: 3rem;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  height: 5px;
  margin: 70px 20px;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
  margin-inline-end: 100px;
  margin-inline-start: 100px;
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.55);
  scroll-behavior: smooth;
}
.carousel::-webkit-scrollbar-thumb:hover {
  background-color: black;
  cursor: pointer;
}

.arrow-button {
  font-size: 1.2rem;
  width: 45px;
  height: 45px;
  border: 1px solid gainsboro;
  background: rgb(253, 253, 253);
  border-radius: 50%;
  display: inline-block;
}
.arrow-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.arrow-button.left {
  margin-right: 10px;
}
.arrow-button.right {
  margin-left: 10px;
}

.most-popular-wrapper {
  max-width: 1280px;
  position: relative;
  padding-bottom: 30px;
  scrollbar-width: none;
  scrollbar-width: none;
}
.most-popular-wrapper i {
  top: 35%;
  position: absolute;
  height: 45px;
  width: 45px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 45px;
  border: 1px solid gainsboro;
  background: rgb(253, 253, 253);
  border-radius: 50%;
  transform: translateY(-50%);
}
.most-popular-wrapper i:first-child {
  left: -60px;
  display: inline-block;
}
.most-popular-wrapper i:last-child {
  right: -60px;
}

.most-popular-wrapper .carousel-mps {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: scroll;
  padding-bottom: 3rem;
}
.most-popular-wrapper .carousel-mps.active {
  cursor: grab;
}
.most-popular-wrapper .carousel-mps::-webkit-scrollbar {
  height: 5px;
  margin: 70px 20px;
  scroll-behavior: smooth;
}
.most-popular-wrapper .carousel-mps::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.15);
  margin-inline-end: 100px;
  margin-inline-start: 100px;
  scroll-behavior: smooth;
}
.most-popular-wrapper .carousel-mps::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.55);
  scroll-behavior: smooth;
}
.most-popular-wrapper .carousel-mps::-webkit-scrollbar-thumb:hover {
  background-color: black;
  cursor: pointer;
}

.carousel-mps.dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.carousel-mps.dragging img {
  pointer-events: none;
}

.scrollbar-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.1);
}

.scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 0;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.img-plus-logo {
  position: relative;
}

.img-logo {
  pointer-events: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: absolute;
  max-height: 3.125rem;
  min-height: 1.875rem;
  bottom: 0.7rem;
  right: 0.625rem;
  left: 0.625rem;
}
.img-logo img {
  max-width: 32%;
  max-height: 100%;
}

.carousel-mps.hide-scrollbar {
  scrollbar-width: none;
}
.carousel-mps.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.carousel-mps img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-left: 14px;
}
.carousel-mps .popular-set-item {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  width: 33.3333333333%;
}
.carousel-mps .popular-set-item span,
.carousel-mps .popular-set-item p,
.carousel-mps .popular-set-item .shop-now,
.carousel-mps .popular-set-item h3 {
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.carousel-mps .popular-set-item .set-details {
  text-align: center;
}
.carousel-mps .popular-set-item .shop-now-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
@media screen and (max-width: 900px) {
  .carousel-mps .popular-set-item {
    width: 33.3333333333%;
  }
}
@media screen and (max-width: 600px) {
  .carousel-mps .popular-set-item {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .carousel-mps .popular-set-item {
    width: 20rem;
  }
}

.carousel-mps img:first-child {
  margin-left: 0px;
}

.shop-now,
.most-popular-sets,
.item-info-first-line {
  font-weight: 500;
}

.popular-set-item:hover .shop-now {
  text-decoration: underline;
}

/*# sourceMappingURL=mostpopular.css.map */
