@import "../mixins.scss";

.cookie-permission-container{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    .cookie-image{      //for both images
        margin: 0.5rem;
        align-items: center;
        display: flex;
        justify-content: center;
        img{
            height: 100px;
        }
        &:last-child{
            @include mQmax(600px){
                display: none;
            }
        }
    } 
}
.cookie-permission-content{
    width: auto;
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    background: rgb(230, 243, 255);
    border-radius: 3.3125rem;
    @include mQmax(600px){
        border-radius: 1rem;
    }
    .cookie-permission-text-container{
        display: inline-flex;
        margin-left: 1rem;
        margin-right: 1rem;
        .cookie-permission-text-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2{
                font-size: 1.125rem;
                line-height: 1.5625rem;
                font-weight: 700;
                margin: 0;
                @include mQmax(900px){
                    font-size: 1rem;
                }
            }
            p{
                line-height: 1.5625rem;
                font-weight: 400;
                font-size: 0.875rem;
                margin: 0;
                @include mQmax(900px){
                    font-size: 0.75rem;
                }
            }
            .cookie-links{
                margin-top: 0.5rem;
                a{
                    line-height: 1.5625rem;
                    font-weight: 500;
                    font-size: 0.875rem;
                    color: #006db7;
                    @include mQmax(900px){
                        font-size: 0.75rem;
                    }
                    &:last-child{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}