.cart-item-wrapper {
  align-items: center;
  padding: 1.875rem 0px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.cart-item-wrapper .Action-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10rem;
}
.cart-item-wrapper .Action-buttons-wrapper .edit-button-wrapper button {
  border: 0;
  padding: 0;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  color: rgb(0, 109, 183);
}
.cart-item-wrapper .quantity-input {
  display: flex;
  height: 2.7rem;
  border-radius: 5px;
}
.cart-item-wrapper .quantity-input .quantity-btn {
  position: relative;
  cursor: pointer;
  flex-grow: 1;
  height: 100%;
  min-width: 2.5rem;
  border: 1px solid rgb(224, 224, 224);
  display: flex;
  align-items: center;
  border-radius: 0px 5px 5px 0px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  touch-action: manipulation;
}
.cart-item-wrapper .quantity-input .input-display-container {
  position: relative;
  -webkit-box-flex: 1;
  flex-grow: 1;
  border-top: thin solid rgb(224, 224, 224);
  border-bottom: thin solid rgb(224, 224, 224);
  width: 2.5rem;
  max-width: 5rem;
}
.cart-item-wrapper .quantity-input .input-display-container .quantity-display {
  background-image: none;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0px;
  cursor: text;
  text-align: center;
  text-indent: 0px;
  text-rendering: auto;
  text-shadow: none;
  word-spacing: 0px;
  padding: 0px;
  writing-mode: horizontal-tb;
  appearance: none;
  color: rgb(0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: textfield;
}
.cart-item-wrapper .quantity-input .input-display-container .quantity-display::-webkit-inner-spin-button, .cart-item-wrapper .quantity-input .input-display-container .quantity-display::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-item-wrapper .wishlist-btn-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 15.67px 0px 0px;
  gap: 10px;
  width: 136.67px;
  height: 30px;
  left: 573.2px;
  top: 73px;
}
.cart-item-wrapper .wishlist-btn-wrapper .wishlist-btn {
  height: 1.5rem;
  width: 1.5rem;
  flex: none;
  order: 0;
  left: calc(50% - 15px);
  top: 0px;
  background: #f8f8f8;
  box-sizing: inherit;
}
.cart-item-wrapper .wishlist-btn-wrapper .wishlist-btn svg {
  color: #777;
}
.cart-item-wrapper .wishlist-btn-wrapper .wishlist-btn.added svg {
  color: blue;
  fill: blue;
}
.cart-item-wrapper .wishlist-btn-wrapper .wishlist-btn .Wishlist-icon {
  height: 1.875rem;
  width: 1.875rem;
  box-sizing: inherit;
}
.cart-item-wrapper .wishlist-btn-wrapper .wishlist-btn-text {
  width: 81px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #000000;
  flex: none;
  order: 1;
}
.cart-item-wrapper .remove-from-cart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item-wrapper .remove-from-cart-wrapper .remove-from-cart-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.cart-item-wrapper .remove-from-cart-wrapper .remove-from-cart-btn svg {
  fill: #3196da;
}
.cart-item-wrapper .cart-item {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  padding: 30px 0;
  border-bottom: 1px solid #e0e0e0;
}
.cart-item-wrapper .cart-item .item-info {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.cart-item-wrapper .cart-item .item-info .item-title {
  color: rgb(0, 0, 0);
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 500;
  text-transform: inherit;
}
.cart-item-wrapper .cart-item .item-info .seperator1 {
  margin-bottom: 0.75rem;
  display: block;
}
.cart-item-wrapper .cart-item .item-image {
  width: 135.83px;
  height: auto;
}
.cart-item-wrapper .cart-item .item-details .action-wrapper {
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .cart-item-wrapper .cart-item .item-details .action-wrapper {
    justify-content: flex-start;
    gap: 2rem;
  }
}
.cart-item-wrapper .cart-item .item-details .action-wrapper .item-price {
  color: inherit;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-transform: inherit;
}
.cart-item-wrapper .cart-item .item-details .action-wrapper .quantity-text {
  color: rgb(117, 117, 117);
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 400;
  text-transform: inherit;
}

/*# sourceMappingURL=CartItem.css.map */
